--
-- PostgreSQL database dump
--

\restrict 2JMwQdxTkwMcGlPdr48I65QJlsef2Q7Chrk6vrJt21bs3NHuXNbBfpcCaaQlgpM

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public."_SteelToKnife" DROP CONSTRAINT IF EXISTS "_SteelToKnife_B_fkey";
ALTER TABLE IF EXISTS ONLY public."_SteelToKnife" DROP CONSTRAINT IF EXISTS "_SteelToKnife_A_fkey";
DROP INDEX IF EXISTS public."_SteelToKnife_B_index";
ALTER TABLE IF EXISTS ONLY public."_SteelToKnife" DROP CONSTRAINT IF EXISTS "_SteelToKnife_AB_pkey";
ALTER TABLE IF EXISTS ONLY public."Steel" DROP CONSTRAINT IF EXISTS "Steel_pkey";
ALTER TABLE IF EXISTS ONLY public."Producer" DROP CONSTRAINT IF EXISTS "Producer_pkey";
ALTER TABLE IF EXISTS ONLY public."Knife" DROP CONSTRAINT IF EXISTS "Knife_pkey";
ALTER TABLE IF EXISTS ONLY public."Glossary" DROP CONSTRAINT IF EXISTS "Glossary_pkey";
ALTER TABLE IF EXISTS ONLY public."FAQ" DROP CONSTRAINT IF EXISTS "FAQ_pkey";
ALTER TABLE IF EXISTS public."Producer" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."Glossary" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."FAQ" ALTER COLUMN id DROP DEFAULT;
DROP TABLE IF EXISTS public."_SteelToKnife";
DROP TABLE IF EXISTS public."Steel";
DROP SEQUENCE IF EXISTS public."Producer_id_seq";
DROP TABLE IF EXISTS public."Producer";
DROP TABLE IF EXISTS public."Knife";
DROP SEQUENCE IF EXISTS public."Glossary_id_seq";
DROP TABLE IF EXISTS public."Glossary";
DROP SEQUENCE IF EXISTS public."FAQ_id_seq";
DROP TABLE IF EXISTS public."FAQ";
SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: FAQ; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."FAQ" (
    id integer NOT NULL,
    q text NOT NULL,
    a text NOT NULL
);


ALTER TABLE public."FAQ" OWNER TO postgres;

--
-- Name: FAQ_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."FAQ_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."FAQ_id_seq" OWNER TO postgres;

--
-- Name: FAQ_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."FAQ_id_seq" OWNED BY public."FAQ".id;


--
-- Name: Glossary; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Glossary" (
    id integer NOT NULL,
    term text NOT NULL,
    def text NOT NULL
);


ALTER TABLE public."Glossary" OWNER TO postgres;

--
-- Name: Glossary_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Glossary_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Glossary_id_seq" OWNER TO postgres;

--
-- Name: Glossary_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Glossary_id_seq" OWNED BY public."Glossary".id;


--
-- Name: Knife; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Knife" (
    id text NOT NULL,
    name text NOT NULL,
    maker text NOT NULL,
    category text NOT NULL,
    description text NOT NULL,
    "whySpecial" text NOT NULL,
    image text NOT NULL,
    link text NOT NULL
);


ALTER TABLE public."Knife" OWNER TO postgres;

--
-- Name: Producer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Producer" (
    id integer NOT NULL,
    name text NOT NULL,
    location text NOT NULL,
    coords double precision[],
    region text NOT NULL,
    "desc" text NOT NULL
);


ALTER TABLE public."Producer" OWNER TO postgres;

--
-- Name: Producer_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Producer_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Producer_id_seq" OWNER TO postgres;

--
-- Name: Producer_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Producer_id_seq" OWNED BY public."Producer".id;


--
-- Name: Steel; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Steel" (
    id text NOT NULL,
    name text NOT NULL,
    producer text NOT NULL,
    "C" double precision NOT NULL,
    "Cr" double precision NOT NULL,
    "V" double precision NOT NULL,
    "Mo" double precision NOT NULL,
    "W" double precision NOT NULL,
    "Co" double precision NOT NULL,
    edge double precision NOT NULL,
    toughness double precision NOT NULL,
    corrosion double precision NOT NULL,
    sharpen double precision NOT NULL,
    ht_curve text NOT NULL,
    "desc" text NOT NULL,
    use_case text NOT NULL,
    pros text[],
    cons text[]
);


ALTER TABLE public."Steel" OWNER TO postgres;

--
-- Name: _SteelToKnife; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."_SteelToKnife" (
    "A" text NOT NULL,
    "B" text NOT NULL
);


ALTER TABLE public."_SteelToKnife" OWNER TO postgres;

--
-- Name: FAQ id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."FAQ" ALTER COLUMN id SET DEFAULT nextval('public."FAQ_id_seq"'::regclass);


--
-- Name: Glossary id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Glossary" ALTER COLUMN id SET DEFAULT nextval('public."Glossary_id_seq"'::regclass);


--
-- Name: Producer id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Producer" ALTER COLUMN id SET DEFAULT nextval('public."Producer_id_seq"'::regclass);


--
-- Data for Name: FAQ; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Glossary; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Knife; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Producer; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Steel; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: _SteelToKnife; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: FAQ_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."FAQ_id_seq"', 6, true);


--
-- Name: Glossary_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Glossary_id_seq"', 11, true);


--
-- Name: Producer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Producer_id_seq"', 6, true);


--
-- Name: FAQ FAQ_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."FAQ"
    ADD CONSTRAINT "FAQ_pkey" PRIMARY KEY (id);


--
-- Name: Glossary Glossary_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Glossary"
    ADD CONSTRAINT "Glossary_pkey" PRIMARY KEY (id);


--
-- Name: Knife Knife_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Knife"
    ADD CONSTRAINT "Knife_pkey" PRIMARY KEY (id);


--
-- Name: Producer Producer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Producer"
    ADD CONSTRAINT "Producer_pkey" PRIMARY KEY (id);


--
-- Name: Steel Steel_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Steel"
    ADD CONSTRAINT "Steel_pkey" PRIMARY KEY (id);


--
-- Name: _SteelToKnife _SteelToKnife_AB_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."_SteelToKnife"
    ADD CONSTRAINT "_SteelToKnife_AB_pkey" PRIMARY KEY ("A", "B");


--
-- Name: _SteelToKnife_B_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "_SteelToKnife_B_index" ON public."_SteelToKnife" USING btree ("B");


--
-- Name: _SteelToKnife _SteelToKnife_A_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."_SteelToKnife"
    ADD CONSTRAINT "_SteelToKnife_A_fkey" FOREIGN KEY ("A") REFERENCES public."Knife"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _SteelToKnife _SteelToKnife_B_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."_SteelToKnife"
    ADD CONSTRAINT "_SteelToKnife_B_fkey" FOREIGN KEY ("B") REFERENCES public."Steel"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 2JMwQdxTkwMcGlPdr48I65QJlsef2Q7Chrk6vrJt21bs3NHuXNbBfpcCaaQlgpM

